@model ML.Jugador

<div class="container">
    <div class="row">
        <div class="col">
            <h3>@ViewBag.Message</h3>
        </div>
        <div class="col">
            @Html.ActionLink("Aceptar","GetAll","Jugador")
        </div>
    </div>
</div>
