@model ML.EquipoPartido


<div class="container">
    <div class="row">
        <div class="col">
            <h3>@ViewBag.Message</h3>
        </div>

        <div class="col">
            @Html.ActionLink("Aceptar", "GetAll", "EquipoPartido", htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
